html,
body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-height: 100vh;
}

.heading-1 {
  font-weight: 500;
  font-size: 1.5rem;
}

.header {
  padding: 1rem;
  background-color: #090909;
  color: #fafafa;
  border-bottom: 1px solid #27272a;
}

#map {
  flex-grow: 1;
  background-color: #090909;
}